/* You can add global styles to this file, and also import other style files */
body {
  color: #2d2d43;
}

.sombra {
  -webkit-box-shadow: 0px 3px 35px 0px rgba(160, 190, 212, 0.22);
  -moz-box-shadow: 0px 3px 35px 0px rgba(160, 190, 212, 0.22);
  box-shadow: 0px 3px 35px 0px rgba(160, 190, 212, 0.22);
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
