<div *ngIf="idea" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="">{{idea.title}} - {{idea._id}}</div>
        <div class="">{{idea.mensaje}}</div>
        <div class="">{{idea.mensaje}}</div>
      </div>
    </div>
    <div class="text-right">
      <input type="submit" value="Editar" class="btn btn-warning" [routerLink]="['/edit-idea', idea._id]">
    </div>
    <hr>
    <div *ngFor="let response of idea.response_id">
      <div>{{response.mensaje}} - <a [routerLink]="['/edit-response', response._id]">Edit</a></div>
      <hr>
    </div>
    <app-new-response></app-new-response>
  </div>
</div>