<div class="container new-idea">
  <form>
    <div class="form-group">
      <label for="asunto">Asunto</label>
      <input type="text" class="form-control" name="asunto" id="asunto" placeholder="Introduce el asunto" [(ngModel)]="asunto">
    </div>
    <div class="form-group">
      <label for="receptorUsername">Destinatario</label>
      <input type="text" class="form-control" name="receptorUsername" id="receptorUsername" placeholder="Introduce el destinatario" [(ngModel)]="receptorUsername">
    </div>
    <div class="form-group">
      <label for="idea">Escribe tu mensaje</label>
      <textarea class="form-control" name="contenido" id="idea" rows="3" [(ngModel)]="contenido"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="newMensaje(asunto,receptorUsername,contenido)">Enviar MP</button>
  </form>
</div>