<header>
  <div class="menu_bar">
    <a [routerLink]="['']" class="bt-menu">
      <span class="icon-list2"></span>Menu</a>
  </div>

  <nav>
    <ul>
      <li *ngIf="session.getUser()">
        <a (click)="logout()">
          <span class=""></span>Logout</a>
      </li>
      <li *ngIf="!session.getUser()">
        <a [routerLink]="['/signup']">
          <span class=""></span>Signup</a>
      </li>
      <li *ngIf="!session.getUser()">
        <a [routerLink]="['/login']">
          <span class=""></span>Login</a>
      </li>
      <li *ngIf="session.getUser()">
          <a [routerLink]="['profile', session.getUser()._id]">
            <span class=""></span>Perfil</a>
      </li>
      <li *ngIf="session.getUser()">
        <a [routerLink]="['/mensajes']">
          <span class=""></span>Mensajes</a>
      </li>
      <!-- <li *ngIf="session.getUser()">
        <a [routerLink]="['/new']">
          <span class=""></span>Nueva idea</a>
      </li> -->
      <li>
        <a [routerLink]="['/contact']">
          <span class=""></span> Contacto</a>
      </li>
      <li>
        <a [routerLink]="['/ideas']">
          <span class=""></span>Ideas</a>
      </li>
      <li>
        <a [routerLink]="['']">
          <span class=""></span>Inicio</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
