<div class="shape1">
  <div class="shape2">
    <header>
      <img src="../assets/logotipo.svg" class="logotipo" alt="" [routerLink]="['/']">
      <div class="open">
        <span class="cls"></span>
        <span>
          <ul class="sub-menu ">
            <li>
              <a [routerLink]="['']">
                <span class=""></span>Inicio</a>
            </li>
            <li>
              <a [routerLink]="['/ideas']">
                <span class=""></span>Ideas</a>
            </li>
            <li *ngIf="!session.getUser()">
              <a [routerLink]="['/access']">
                <span class=""></span>Access</a>
            </li>
            <li *ngIf="session.getUser()">
              <a [routerLink]="['profile',session.getUser()._id]">
                <span class=""></span>Perfil</a>
            </li>
            <li *ngIf="session.getUser()">
              <a (click)="logout()">
                <span class=""></span>Logout</a>
            </li>
          </ul>
        </span>
        <span class="cls"></span>
      </div>
    </header>
    <router-outlet></router-outlet>
  </div>
</div>
