.login-wrapper {
    border: 1px solid grey;
    border-radius: 5px;
    background: #9e9e9e33;
    width: 350px;
    height: 400px;
    margin-top: 50px;
    padding: 50px;
}

button {
    margin: 25px;
}

input {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid gold;
}

::placeholder { color: gray; }

.error{
    background-color:#ff0000b4;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.input-file {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #ccad00;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
    cursor: pointer;
    transition: background-color .3s ease;
  }
  .input-file:hover {
    background-color: #1788d8;
  }
  .input-file [type = file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .input-file label {
    font-family: 'arial';
    color: #F1F1F1;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
  }