<div class="container">
    <div class="row">
      <div class="col-md text-center">
        <h1>ESTE ES EL PUTO SIGNUP</h1>
      </div>
    </div>
    <div class="container login-wrapper">
      <div class="row">
        <div class="col-md-12 text-center">
          <div *ngIf="!session.getUser()">
            <form>
                <input type="text" [(ngModel)]="username" name="username" placeholder="Username"/>
                <input type="text" [(ngModel)]="name" name="name" placeholder="Nombre y Apellidos"/>
                <input type="text" [(ngModel)]="espec" name="espec" placeholder="Especialidad"/>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña"/>
                <input type="password" [(ngModel)]="confirm_password" name="confirm_password" placeholder="Confirma Contraseña"/>
                <input type="text" [(ngModel)]="email" name="email" placeholder="Correo electrónico"/>
                <input type="text" [(ngModel)]="about_me" name="about_me" placeholder="Sobre ti..."/><br>
                <button class="input-file"><input type="file" id="file-input" [(ngModel)]="avatar" name="avatar"><label for="file-input">Sube tu imagen</label></button>
            </form>
            <button (click)="signup()"class="btn btn-warning">Regístrate</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p *ngIf="error" class="error"> {{ error }} </p>
        </div>
      </div>
    </div>
  </div>
  