<div class="wrapper">
  <div *ngIf="user">
    <div class="row">
      <div class="col-md-3">
        <img src="{{user.avatar}}" alt="avatar" class="img-fluid">
      </div>
      <div class="col-md-9">
        <h3>{{user.name}}</h3>
        <h1>@{{user.username}}</h1>
        <p>{{user.about_me}}</p>

      </div>
    </div>
    <div class="text-center">
      <input type="submit" value="Editar perfil" [routerLink]="['/profile/edit', user._id]" class="btn btn-warning">
    </div>
  </div>
  <hr>
  <br>
  <div class="ideas" *ngFor="let idea of ideasList">
    <div><a [routerLink]="['/detail-idea', idea._id]">{{idea.title}}</a></div>
  </div><br><br><hr>
  <div class="response" *ngFor="let response of responseList">
    <div>{{response.mensaje}}</div>
  </div><br><br><hr>
  <div class="colaboraciones" *ngFor="let colaboraciones of ideasList">
    <div *ngFor="let pending of colaboracionesPending">
      El usuario <b><a [routerLink]="['/profile', pending.colaborador._id]">{{pending.author.name}}</a></b> quiere participar en <b><a [routerLink]="['/detail-idea', pending.idea_id._id]">{{pending.idea_id.title}}</a></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a (click)="aceptarColaboracion(pending._id)"><i class="fas fa-check"></i></a> | <a (click)="declinarColaboracion(pending._id)"><i class="fas fa-times"></i></a></div>
  </div>
</div>
