<div class="container">
  <div class="row">
    <div class="col-md text-center">
      <h1>ESTE ES EL PUTO LOGIN</h1>
    </div>
  </div>
  <div class="container login-wrapper">
    <div class="row">
      <div class="col-md-12 text-center">
        <div *ngIf="!session.getUser()">
          <form>
            <input type="text" [(ngModel)]="username" name="username" placeholder="Username" />
            <input type="password" [(ngModel)]="password" name="password" placeholder="Password" />
          </form>
          <button (click)="login()" class="btn btn-warning">Inicia Sesión</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p *ngIf="error" class="error"> {{ error }} </p>
      </div>
    </div>
  </div>
</div>
