<div class="container wrapper">
  <div *ngFor="let idea of ideasList">
    <div class="row idea sombra">
      <div class="col-md-2">
        <img src="{{idea.user_id.avatar}}" alt="Avatar" class="avatar">
        <div class="">{{idea.user_id.name}}</div>
        <div>Rate</div>
      </div>
      <div class="col-md-10">
        <div class=""><a [routerLink]="['/detail-idea', idea._id]">{{idea.title}}</a> - {{idea._id}}</div>
        <div class="">{{idea.mensaje}}</div>
        <div class="">{{idea.mensaje}}</div>
        <div class="col-md-12 text-right fav">
          <div class="fav fav-heart"></div>
        </div>
      </div>
    </div>
  </div>
</div>